@charset "UTF-8";

:root{
    --cor0: #1a1aff;
    --cor1: #2c05ea;
    --cor2: #120a8f;
}

body{
   background-image: linear-gradient(to top, var(--cor0), var(--cor1));
}

main a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: black;
    margin: 5px;
    box-sizing: 1px 1px 1px black;
    background-color: aqua;
}

div#navegador{
    text-align: center;   
}

div#greenday{
    text-align: center;
}

div#guitarra{
    text-align: center;
}

footer{
    text-align: center;
    background-color: rgba(0, 255, 255, 0.226);
}

footer a{
    color: white;
    text-decoration: dotted;  
}