@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family= Bebas +Neue & display=swap');

@font-face {
    font-family: 'Bolo';
    src: url('../fontes/BebasNeue-Regular.ttf');
    font-weight: normal;
}

:root{
    --fonte-h1receita: 'Bolo';
}

body{
    background-color: rgb(255, 167, 3);
}

h1{
    font-family: var(--fonte-h1receita);
}

div#fotocnoura > img{
  text-align: center;
  max-height: 50%;
  min-height: 50px;
  min-width: none;
  width: 300px;
  height: auto;
  padding: 10px 10px 0 0;
}

div#fotocnoura:hover{
    background-color: rgb(247, 195, 98);
}


main{
    background-color: white;
    text-align: center;
    min-width: 700px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 10px;
}

footer{
    background-color: rgb(36, 228, 36);
}

footer > p {
    text-align: center;
}
footer a{
    color: blue;
    text-decoration: none;
}

footer a:hover{
    background-color: white;
    color: rgb(128, 189, 128);
    border-radius: 50px;
}